@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --bg_main: #39404e;
  --text_light: #fff;
  --text_med: #142b52;
  --text_dark: #4c5058;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgba(011, 011, 011, 0.8);
  outline: none;
}

a {
  color: grey;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: black;
  background: url("https://source.unsplash.com/1400x1050?queenstown"),
    url("../assets/queenstown.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  font: 1rem/1.3 "Roboto", sans-serif;
  color: var(--text_dark);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 1080px) {
  main {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 30px 0;
  }
}
